<% @merchants.each do |merchant| %>
  <section id='merchant-<%=merchant.id %>'>
    <%= merchant.name %>
    <%= button_to "Disable", "/admin/merchants/#{merchant.id}/disable", method: :patch %>
  </section>
<% end %>
